@font-face {
    font-family: "Ubuntu Nerd Font";
    src: url("polices/Ubuntu\ Nerd\ Font\ Complete.ttf");
}

body {
    font-family: "Ubuntu Nerd Font";
    margin : auto;
    padding : 5px;

    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 2;
}

h1 {
    text-align: center;
}

header {
    grid-column-start: 1;
    grid-column-end: end;
}

main {
    padding: 5%;

}

aside {
    padding: 5%;
    color:white;
    background-color: #3c4b84;
    border-radius: 10px;
}

footer {
    display: flex;
    flex-direction:row;
}

section {
    width: 100%;
    text-align: justify;
}

#profile {
    display:block;
    border-radius: 50%;
    width: 100%;
}

a {
    color: yellow;
}

p {
    text-align: justify;
}

.competences {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a:visited {
    color: lightgrey;
}

a:hover {
    background-color: blue;
}

a:active {
    background-color: greenyellow;
}

.description {
    font-size: 1.5em;
    text-align: center;
}

#left {
    text-align: center;
}

img:hover {
    opacity: 0.5;
}

.contacts {
    word-wrap: break-word;
}

.contacts:hover {
    background-color: white;
    text-decoration: underline;
    color:black;
}

.experiences {
    display: grid;
    grid-template-columns: auto 1fr 0.5fr;
    column-gap:20px;
    list-style-type:none;
}

.dates {
    font-weight: bold;
}

.experiences_imgs {
    height: 2em;
    margin:auto;
}