@font-face {
    font-family: "Ubuntu Nerd Font";
    src: url("polices/Ubuntu\ Nerd\ Font\ Complete.ttf");
}

*:hover {
    transition:0.4s;
}

h1 {
    text-align: center;
}

section {
    width: 100%;
    text-align: justify;
}

#profile {
    display:block;
    border-radius: 50%;
    width: 100%;
}

a {
    color: rgb(142, 178, 255);
}

p {
    text-align: justify;
}

a:visited {
    color: lightgrey;
}

a:hover {
    background-color:white;
    transition: 1s;
    color:rgb(201, 23, 0);
}

a:active {
    background-color: greenyellow;
}

.description {
    font-size: 1.5em;
    text-align: center;
}

img:hover {
    opacity: 0.5;
}

.contacts {
    display:block;
    padding:3px;
    word-wrap: break-word;
    text-align: left;
    border-radius: 3px;
}

.contacts:hover {
    background-color: white;
    text-decoration: underline;
    color:black;
}

.experiences {
    display: grid;
    grid-template-columns: auto 1fr 0.5fr;
    column-gap:20px;
    row-gap: 1em;
    list-style-type:none;
}

.dates {
    font-weight: bold;
}

.experiences_imgs {
    height: 2em;
    margin:auto;
}

h2, h3 {
    text-align: left;
}

body {
    font-family: "Ubuntu Nerd Font";
    margin : auto;
    padding : 5px;
    
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto auto;
}

header {
    grid-column-start: 1;
    grid-column-end: end;
}


main {
    padding: 5%;
    padding-top: 0%;
    padding-bottom: 0%;

    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;

}

aside {
    padding: 5%;
    color:white;
    background-color: #3c4b84;
    border-radius: 10px;

    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: end;
}


#description {
    padding:2%;
    padding-top: 0%;
    padding-bottom: 0%;
    
    grid-row-start: 2;
    grid-column-start: 2;
}


@media screen and (max-width:1000px) {
    section {
        text-align: left;
    }
    
}


@media screen and (max-width:700px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .experiences {
        grid-template-columns: 0.5fr 1fr;
        column-gap: 5px;
    }

    .experiences_imgs {
        display: none;
    }

    #profile {
        display: block;
        max-width: 50%;
        margin:auto;
    }
}

@media screen and (min-width:1200px) {
    body {
        margin-right: 20%;
        margin-left: 20%;

        max-width: 1200px;
    }
}

.comp_box {
    display: block;
    height: 0.5em;
    margin-bottom: 0.5em;
    border: solid white 1px;
    border-radius: 4px;
}

.comp_box span {
    display: block;
    height: 100%;
    background: linear-gradient(90deg, #707ca8, #b2c7ff);
}

.python {
    animation: python 2s;
    width: 70%;
}

.html {
    animation: html 3s;
    width: 50%;
}

.git {
    animation: git 3s;
    width: 75%;
}

.ocaml {
    animation: ocaml 3s;
    width: 40%;
}

.bash {
    animation: bash 3s;
    width: 60%;
}

@keyframes python {
    0% {
        width: 0%;
    }
}

@keyframes html {
    0% {
        width: 0%;
    }
}

@keyframes git {
    0% {
        width: 0%;
    }
}

@keyframes ocaml {
    0% {
        width: 0%;
    }
}

@keyframes bash {
    0% {
        width: 0%;
    }
}
